
@import "../../../node_modules/elongcss/lib/core/reset";
// @import "../../../node_modules/elongui/lib/element/btn";
// @import "../../../node_modules/elongui/lib/element/badge";
@import "../../../node_modules/elongcss/lib/layout/flex";
@import "../../../node_modules/elongui/lib/fragment/header";

.a {
    color: black;
    text-align: center;
    background-color: blue;
    font-size: 54px;
}